@tailwind base;
@tailwind components;
@tailwind utilities;

.content-page {
    display: flex;
    gap: 48px;
    margin-left: 48px;
    margin-right: 48px;
    @media screen and (max-width: 1066px) {
        max-width: 100%;
        margin: 0px 16px;
        padding-top: 40px;
    }
}

a {
    width: initial;
    height: initial;
    display: inherit;

    text-decoration: none;
}

